<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Motivos de Transferencia</title>
</head>
<body>
    <h1>Motivos de Transferencia</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reason in reasons %}
            <tr>
                <td>{{ reason.name }}</td>
                <td>
                    <a href="{% url 'admin_reason_edit' reason.id %}">Editar</a> |
                    <a href="{% url 'admin_reason_delete' reason.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'home' %}">Volver al inicio</a>
</body>
</html>


<!-- Muestra una lista de los motivos de transferencia, en formato de tabla.
Similar al template de usuarios, tiene enlaces para editar o eliminar motivos de transferencia.
Los enlaces están asociados con las vistas correspondientes para la edición y eliminación de motivos, utilizando los url de Django para manejar las URL dinámicas. -->