{% extends 'core/base.html' %}

{% block title %}Administrar Usuarios{% endblock %}

{% block content %}
<h2>Lista de Usuarios</h2>
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Saldo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>${{ user.balance }}</td>
            <td>{{ user.is_active_account|yesno:"Activo,Inactivo" }}</td>
            <td>
                <a href="{% url 'edit_users' pk=user.pk  %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'delete_user' pk=user.pk  %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
