{% extends 'core/base.html' %}

{% block content %}
    <h2>Detalle de la transacción</h2>

    <br>
    <br>

    
        <p><strong>Remitente:</strong> {{ transaction.sender.username }}</p>
        <p><strong>Destinatario:</strong> {{ transaction.recipient.username }}</p>
        <p><strong>Cantidad Transferida:</strong> {{ transaction.amount }}</p>
        <p><strong>Motivo de Transferencia:</strong> {{ transaction.reason }}</p>
        <p><strong>Fecha:</strong> {{ transaction.timestamp }}</p>
    
    <br>
        
        <a class="btn btn-primary mt-3" href="{% url 'transfer_list' %}">Volver a la lista</a>
{% endblock %}

    


<!-- Muestra los detalles de una transacción específica: el nombre del remitente, el destinatario, la cantidad transferida y la fecha de la transacción.
El uso de {{ transaction.sender.username }} y otros campos es para acceder a las propiedades de la transacción que se pasan al contexto desde la vis -->